.desktop{

    width:100vw;
    height:100vh;

    overflow:hidden;

    background:
    url("/wallpapers/macos.jpg");

    background-size:cover;
    background-position:center;

    position:relative;

}
