.menu-bar{


height:32px;

position:absolute;

top:0;
left:0;

width:100%;


display:flex;

justify-content:space-between;

align-items:center;


padding:0 18px;


background:

rgba(255,255,255,.15);


backdrop-filter:blur(20px);


color:white;


font-size:14px;


z-index:100;


.left,
.right{

display:flex;

gap:18px;

align-items:center;

}



.apple{

font-size:20px;

}

}
